<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= ingredient_within.name %></h2>
      <p>Protein: <%= ingredient_within.protein %>Gramm</p>
    </div>
    <h2 class="card-trip-pricing"><%= ingredient_within.price %>€</h2>
  </div>
</div>
