<div class="jar" style="position:relative;">
  <div class="jar-content" id="jar-content-1" >
    <img style="width: 100%; position:absolute; bottom:0; height: 15%; object-fit: cover;" src="https://res.cloudinary.com/dj9iphc8u/image/upload/v1623852430/SmoothieJar/U8d0e376bf1814c81823a6e7bd6cb9cbe3_yuznfi.jpg" alt="">
  </div>
</div>
