<div class="jar" style="position:relative;">
  <div class="jar-content" id="jar-content-0" >
    <img class="ingredient-jar" id="jar-img-0" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==" alt="">
  </div>
  <div class="jar-content" id="jar-content-1" >
    <img class="ingredient-jar" id="jar-img-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==" alt="">
  </div>
  <div class="jar-content" id="jar-content-2" >
    <img class="ingredient-jar" id="jar-img-2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==" alt="">
  </div>
  <div class="jar-content" id="jar-content-3" >
    <img class="ingredient-jar" id="jar-img-3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==" alt="">
  </div>
  <div class="jar-content" id="jar-content-4" >
    <img class="ingredient-jar" id="jar-img-4" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==" alt="">
  </div>
  <div class="jar-content" id="jar-content-5" >
    <img class="ingredient-jar" id="jar-img-5" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==" alt="">
  </div>
  <div class="jar-content" id="jar-content-6" >
    <img class="ingredient-jar" id="jar-img-6" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==" alt="">
  </div>
  <div class="jar-content" id="jar-content-7" >
    <img class="ingredient-jar" id="jar-img-7" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==" alt="">
  </div>
</div>
