<!-- <div class="jar">
    <div class="row p-0 m-0">
      <div class="col-md-12 --0 m-0">
      </div>
      <div class="col-md-12 --0 m-0">
      </div>
      <div class="col-md-12 --0 m-0">
      </div>
      <div class="col-md-12 --0 m-0">
      </div>
      <div class="col-md-12 --0 m-0">
      </div>
      <div class="col-md-12 --0 m-0">
      </div>
      <div class="col-md-12 --0 m-0">
      </div>
      <div class="col-md-12 --0 m-0 p-0 m-0">
      </div>
    </div>
</div> -->

<div class="jar-container jar">
  <div class="jar-content-div-7">
    <div class="jar-content" id="jar-content-7" >
      <img style="height: 0%;"class="ingredient-jar" id="jar-img-7" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==" alt="">
    </div>
  </div>
  <div class="jar-content-div-6">
    <div class="jar-content" id="jar-content-6" >
      <img style="height: 0%;"class="ingredient-jar" id="jar-img-6" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==" alt="">
    </div>
  </div>
  <div class="jar-content-div-5">
    <div class="jar-content" id="jar-content-5" >
      <img style="height: 0%;"class="ingredient-jar" id="jar-img-5" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==" alt="">
    </div>
  </div>
  <div class="jar-content-div-4">
    <div class="jar-content" id="jar-content-4" >
      <img style="height: 0%;"class="ingredient-jar" id="jar-img-4" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==" alt="">
    </div>
  </div>
  <div class="jar-content-div-3">
    <div class="jar-content" id="jar-content-3" >
      <img style="height: 0%;"class="ingredient-jar" id="jar-img-3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==" alt="">
    </div>
  </div>
  <div class="jar-content-div-2">
    <div class="jar-content" id="jar-content-2" >
      <img style="height: 0%;"class="ingredient-jar" id="jar-img-2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==" alt="">
    </div>
  </div>
  <div class="jar-content-div-1">
    <div class="jar-content" id="jar-content-1" >
      <img style="height: 0%;"class="ingredient-jar" id="jar-img-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==" alt="">
    </div>
  </div>
  <div class="jar-content-div-0">
    <div class="jar-content" id="jar-content-0" >
      <img style="height: 0%;"class="ingredient-jar" id="jar-img-0" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==" alt="">
    </div>
  </div>
</div>
