<div class="jar" style="position:relative;">
  <div class="jar-content" id="jar-content-1" >
    <img id="jar-img-1" style="width: 100%; position:absolute; bottom:0; height: 0%; object-fit: cover;" src="" alt="">
  </div>
  <div class="jar-content" id="jar-content-2" >
    <img id="jar-img-2" style="width: 100%; position:absolute; bottom:0; height: 0%; object-fit: cover;" src="" alt="">
  </div>
  <div class="jar-content" id="jar-content-3" >
    <img id="jar-img-3" style="width: 100%; position:absolute; bottom:0; height: 0%; object-fit: cover;" src="" alt="">
  </div>
  <div class="jar-content" id="jar-content-4" >
    <img id="jar-img-4" style="width: 100%; position:absolute; bottom:0; height: 0%; object-fit: cover;" src="" alt="">
  </div>
  <div class="jar-content" id="jar-content-5" >
    <img id="jar-img-5" style="width: 100%; position:absolute; bottom:0; height: 0%; object-fit: cover;" src="" alt="">
  </div>
  <div class="jar-content" id="jar-content-6" >
    <img id="jar-img-6" style="width: 100%; position:absolute; bottom:0; height: 0%; object-fit: cover;" src="" alt="">
  </div>
  <div class="jar-content" id="jar-content-7" >
    <img id="jar-img-7" style="width: 100%; position:absolute; bottom:0; height: 0%; object-fit: cover;" src="" alt="">
  </div>
  <div class="jar-content" id="jar-content-8" >
    <img id="jar-img-8" style="width: 100%; position:absolute; bottom:0; height: 0%; object-fit: cover;" src="" alt="">
  </div>
</div>
