.ingredient-jar {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transform: rotate(180deg);
}

.jar-container {
  display: table-cell;
  grid-template-columns: 1fr;
  // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  align-items: flex-end;
  grid-template-areas:
    "jar-content-div-7"
    "jar-content-div-6"
    "jar-content-div-5"
    "jar-content-div-4"
    "jar-content-div-3"
    "jar-content-div-2"
    "jar-content-div-1"
    "jar-content-div-0";
}


.jar-content-div-7 { grid-area: jar-content-div-7; }

.jar-content-div-6 { grid-area: jar-content-div-6; }

.jar-content-div-5 { grid-area: jar-content-div-5; }

.jar-content-div-4 { grid-area: jar-content-div-4; }

.jar-content-div-3 { grid-area: jar-content-div-3; }

.jar-content-div-2 { grid-area: jar-content-div-2; }

.jar-content-div-1 { grid-area: jar-content-div-1; }

.jar-content-div-8 { grid-area: jar-content-div-0; }
